@model OnlineExamSystem.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form asp-action="Register" method="post">

    <!-- ROLE FIRST -->
    <div class="mb-3">
        <label class="form-label">Role</label>
        <select asp-for="Role" class="form-control">
            <option value="">Select Role</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    
    <!-- COLLEGE (ONLY FOR TEACHER) -->
<div class="mb-3" id="collegeSection" style="display:none;">
    <label class="form-label">College</label>
    <select asp-for="CollegeId" class="form-control">
        <option value="">Select College</option>
        @foreach (var college in ViewBag.Colleges)
        {
            <option value="@college.Id">@college.Name</option>
        }
    </select>
    <span asp-validation-for="CollegeId" class="text-danger"></span>
</div>

    <!-- FULL NAME -->
    <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- USERNAME -->
    <div class="mb-3">
        <label class="form-label">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <!-- EMAIL -->
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- PASSWORD -->
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Register
    </button>

    <br /><br />

    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
    {
        <p class="text-danger">@error.ErrorMessage</p>
    }
</form>

<script>
    const roleSelect = document.querySelector('[name="Role"]');
    const collegeSection = document.getElementById('collegeSection');

    function toggleCollege() {
        if (roleSelect.value === 'Teacher') {
            collegeSection.style.display = 'block';
        } else {
            collegeSection.style.display = 'none';
        }
    }

    roleSelect.addEventListener('change', toggleCollege);
    toggleCollege();
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
