@model OnlineExamSystem.Models.Question

<h2>Create Question</h2>

<form method="post">
    <div>
        <label>Question Text</label><br />
        <input type="text" name="Text" />
    </div>

    <br />

    <div>
        <label>Exam Id</label><br />
        <select asp-for="ExamId"
                asp-items="@(new SelectList(ViewBag.Exams, "Id", "Title"))">
        </select>
    </div>

    <br />

    <button type="submit">Save</button>
</form>
