@model OnlineExamSystem.Models.Course

@{
    ViewData["Title"] = "Add Course";

    var role = Context.Session.GetString("Role");
    var colleges = ViewBag.Colleges as List<OnlineExamSystem.Models.College>;
}

<h2 class="mb-4">Add Course</h2>

<form asp-action="Create" method="post">

    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (role == "Admin")
            {
                <div class="mb-3">
                    <label asp-for="CollegeId" class="form-label"></label>

                    <select asp-for="CollegeId" class="form-select">
                        <option value="">-- Select College --</option>
                        @foreach (var college in colleges ?? new List<OnlineExamSystem.Models.College>())
                        {
                            <option value="@college.Id">
                                @college.Name
                            </option>
                        }
                    </select>

                    <span asp-validation-for="CollegeId" class="text-danger"></span>
                </div>
            }

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">
                Save
            </button>

            <a asp-action="Index" class="btn btn-secondary ms-2">
                Cancel
            </a>

        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}