
@model OnlineExamSystem.Models.Exam

<h2>Create Exam</h2>

<form action="/Exams/Create" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label>Title</label>
        <input class="form-control" name="Title" required />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" name="Description"></textarea>
    </div>

    <div class="mb-3">
        <label>Duration In Minutes</label>
        <input class="form-control" name="DurationInMinutes" type="number" min="1" required />
    </div>

    @* TotalMarks intentionally removed
       This is now system-calculated from question marks *@

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/Exams" class="btn btn-secondary">Cancel</a>

</form>
