<h2>Add Student</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Name</label><br />
        <input type="text" name="Name" />
    </div>
    <br />
    <button type="submit">Save</button>
</form>
